In [35]:
list = []
print(list)
print (type(list))

[]
<class 'list'>

In [3]:
# blank list
L1 = []

# list of integers
L2 = [10, 20, 30]

# List of heterogenous data types
L3 = [1, "Hello", 3.4]

print(L1, L2, L3)

[] [10, 20, 30] [1, 'Hello', 3.4]

In [5]:
#iterate over the numbers in the range of 5, i.e. all numbers starting from 0 till they are less than 5
theList = [iter for iter in range(5)]
print(theList)

[0, 1, 2, 3, 4]

In [8]:
#create a string from a number 12.12

number = 12.12
numberasstring = str(number)

print(numberasstring)

12.12

In [9]:
listofCountries = ["India", "America", "England", "Singapore", "Vietnam", "Brazil"]
firstLetters = [country[0] for country in listofCountries]
#get the list of countries
#Iterate over the list using the for loop
#read each element of the list, e.g. first element would be India
#country = India
#Get the first element of the string, country which sptre this value inside the list firstletters
print(firstLetters)

['I', 'A', 'E', 'S', 'V', 'B']

In [14]:
country = "India"

lettersfromcountry = [char for char in country]
print(lettersfromcountry)

['I', 'n', 'd', 'i', 'a']

In [15]:
init_list = [0]*3
init_list

[0, 0, 0]

In [17]:
two_dim_list = [[0]*3]*3
two_dim_list

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [19]:
list1 = [1,2]
list2 = [3,4]

list1 + list2

list1.extend(list2)
list1

[1, 2, 3, 4]

In [21]:
list3 = [0,0]
list1.append(list3)
list1

[1, 2, 3, 4, [0, 0], [0, 0]]

In [22]:
list1[3]

4

In [23]:
listofnumbers = [1,2,4,5,6,0]

#find the number at 2nd position of the list
print(listofnumbers[2])
#find the number at 5th position of the listâ€©
print(listofnumbers[5])

4
0

In [26]:
vowels = ['a','e','i','o','u']

print(vowels[-1])
print(vowels[-2])

u
o

In [28]:
testlist = [1,2,[1,2,3]]

print(testlist[2][1])

2

In [29]:
#Slice
testnewlist = testlist[1:2]
testnewlist

[2]

In [30]:
theList = [55, 66]
theList.insert(0,33)
print(theList)

[33, 55, 66]

In [31]:
theList.insert(5,35)
theList

[33, 55, 66, 35]

In [32]:
#delete element from the list

del theList[2]
theList

[33, 55, 35]

In [33]:
theList

[33, 55, 35]